.git
frontend
backend/.env
backend/.venv
backend/__pycache__
backend/.pytest_cache
backend/.mypy_cache
backend/.ruff_cache
backend/data/db-backup.sql
backend/linting_temp
backend/metrics_temp
backend/tools
services/embedding/.venv
services/linting/App/bin
services/linting/App/obj
services/linting/UA-ModelCompiler/**/bin
services/linting/UA-ModelCompiler/**/obj
services/metrics/Metrics/bin
services/metrics/Metrics/obj
services/metrics/UA-ModelCompiler/**/bin
services/metrics/UA-ModelCompiler/**/obj
